


  <nav class="navbar navbar-light bg-faded fixed-top {{ page.title }}-back }}">
  <a id="name" class="navbar-brand" href="{{ site.url }}"><p>Stephen Agwu</p></a>
  <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <div class="collapse navbar-collapse text-center" id="navbarNav">
    <div class="nav navbar-nav">
      <a class="nav-item nav-link active" href="{{ site.url }}/about.html">About</a>
      <a class="nav-item nav-link active" href="#portfolio-nav">Portfolio</a>
    </div>
    <div id="social-media" class="conatainer-fluid">
    <div class="d-flex flex-nowrap justify-content-center">
      <div class="icon-container col">
        <a href="https://github.com/osa10928" target="_blank">
          <img src="{{ site.url }}/assets/images/social-media-icons/Github.svg" alt="Github icon" title="Gitgub" class="img-fluid">
        </a>
      </div>
      <div class="icon-container col">
        <a href="https://www.linkedin.com/in/stephen-agwu/" target="_blank">
          <img src="{{ site.url }}/assets/images/social-media-icons/Linkedin.svg" alt="Linkedin icon" title="Linkedin" class="img-fluid">
        </a>
      </div>
      <div class="icon-container col">
        <a href="https://twitter.com/King_DREAMER" target="_blank">
          <img src="{{ site.url }}/assets/images/social-media-icons/Twitter.svg" alt="Twitter icon" title="Twitter" class="img-fluid">
        </a>
      </div>
      <div class="icon-container col">
        <a href="https://www.facebook.com/stephen.agwu" target="_blank">
          <img src="{{ site.url }}/assets/images/social-media-icons/Facebook.svg" alt="Facebook icon" title="Facebook" class="img-fluid">
        </a>
      </div>
      <div class="icon-container col">
        <a href="https://www.instagram.com/osa10928/" target="_blank">
          <img src="{{ site.url }}/assets/images/social-media-icons/Instagram.svg" alt="Instagram icon" title="Instagram" class="img-fluid">
        </a>
      </div>
    </div>
  </div>
  </div>
</nav>
<script type="text/javascript">
  $(".navbar").transition({
    y: "-100%"
  }, 0)
</script>