


.navbar {
    border-bottom: none;
    background: #1B1B1B !important;
	a#name {
	  color: #D9D6CF;
	}
	.navbar-toggler span {
	  background-color: #D9D6CF;
    }
    a.nav-item.nav-link.active {
      color: #D9D6CF;
    }
}

.navbar-light {
	.navbar-toggler {
	  border-color: #D9D6CF;
	}
}

body {
	background: #1B1B1B;
	color: rgb(212,209,202);
}
