/*
#D9D6CF
*/

html {
	height: 100%;
}

.navbar {
    border-bottom: none;
    background: rgb(40, 40, 40) !important;
	a#name {
	  color: #C8C8CD;
	}
	.navbar-toggler span {
	  background-color: #C8C8CD;
    }
    a.nav-item.nav-link.active {
      color: #C8C8CD;
    }
}

.navbar-light {
	.navbar-toggler {
	  border-color: #C8C8CD;
	}
}

body {
    height: 100%;
    background: url('/assets/images/icon-transparent.svg'), rgb(40, 40, 40);
	background-size: 15% 15%;
	background-repeat: repeat;
	background-position: center;
	color: #C8C8CD;
	#App {
	  margin-top: 10%;
	  main {
	        width: 90%;
	        margin: auto;
	        #opening-title h1 {
	            font-size: 2rem;
	        }
	        #options {
	            margin-top: 20%;
	            a.row {
	                color: #C8C8CD;
	                background: rgba(50,50,50,1);
	                background: -webkit-linear-gradient(rgba(40,40,40,1), rgba(70,70,70,1));
	                background: -o-linear-gradient(rgba(40,40,40,1), rgba(70,70,70,1));
	                background: -moz-linear-gradient(rgba(40,40,40,1), rgba(70,70,70,1));
	                background: linear-gradient(rgba(40,40,40,1), rgba(70,70,70,1));
	                width: 70%;
	                margin: 15% auto 0 auto;
	                border: solid thin black;
	                box-shadow: 2px 2px 1px black;
	                border-radius: 0.2em;
	                &:hover {
	                    background: #C8C8CD;
	                    color: black;
	                    -webkit-transition: color 500ms linear;
	                    -ms-transition: color 500ms linear;
	                    transition: color 500ms linear;
	                    -webkit-transition: background 500ms linear;
	                    -ms-transition: background 500ms linear;
	                    transition: background 500ms linear;
	                }
	            }
	            #webpages-option {
	                animation-name: shake1;
	                animation-duration: 20s;
	                animation-iteration-count: infinite;
	            }
	            #codepens-option {
	                animation-name: shake2;
	                animation-duration: 20s;
	                animation-iteration-count: infinite;
	            }
	        }
	        heading {
	            h1 {
	                font-size: 2rem;
	            }
	            p {
	                font-size: 0.8em;
	            }
	        }
	    }
	}
}

#webpages-display, #codepens-display {
    margin-top: 10%;
    h1 {
        font-size: 2rem;
    }	
    p {
	    font-size: 0.6em;
	}
} 

.technologies {
	button {
	    cursor: pointer;
	    font-size: 0.8em;
	    -webkit-appearance: none;
	    -moz-appearance: none;
        margin: 5% 3% 0 0;
	    color: #C8C8CD;
	    background: rgba(50,50,50,1);
	    background: -webkit-linear-gradient(rgba(40,40,40,1), rgba(70,70,70,1));
	    background: -o-linear-gradient(rgba(40,40,40,1), rgba(70,70,70,1));
	    background: -moz-linear-gradient(rgba(40,40,40,1), rgba(70,70,70,1));
	    background: linear-gradient(rgba(40,40,40,1), rgba(70,70,70,1));
	    box-shadow: 2px 2px 1px black;
	    border-radius: 0.2em;
	    &:hover {
	        background: #C8C8CD;
	        color: black;
	        -webkit-transition: color 500ms linear;
	        -ms-transition: color 500ms linear;
	        transition: color 500ms linear;
	        -webkit-transition: background 500ms linear;
	        -ms-transition: background 500ms linear;
	        transition: background 500ms linear;
	    }
	    &:focus {
	        outline: 0;
	    }
	}
}

.clicked {
	background: #C8C8CD !important;
	color: black !important;
}

.webpage-element {
    max-height: 5000px;
	-webkit-transition: max-height 1s;
	-moz-transition: max-height 1s;
	-o-transition: max-height 1s;
	transition: max-height 2s;
}

.codepens-element {
    max-height: 5000px;
    -webkit-transition: max-height 1s;
	-moz-transition: max-height 1s;
	-o-transition: max-height 1s;
	transition: max-height 2s;
}

.displayed {
	.thumbnail {
	    cursor: pointer;
	    width: 100%;
	    margin: 10% auto;
	    font-size: 0.8em;
	    box-shadow: 6px 5px 4px 4px rgb(25,25,25);
	    span {
	        display: block;
	        background: rgba(50,50,50,1);
	        padding: 2px 0;
	        p {
	            margin-bottom: 0;
	        }
	    }
	}
}

.more-info {
    max-height: 0;
    font-size: 0.8em;
    margin: auto;
    margin-bottom: 5%;
	-webkit-transition: max-height 2s;
	-webkit-transition-delay: 0s;
	transition: max-height 2s;
	transition-delay: 0s;

}

#App {
    max-height: 5000px;
	-webkit-transition: max-height 1s;
	-moz-transition: max-height 1s;
	-o-transition: max-height 1s;
	transition: max-height 0.5s;
	transition-delay: 0s;
}

.show-element {
	max-height: 5000px !important;
}

.remove-element {
	max-height: 0px !important;
	overflow: hidden !important;
}

#route-buttons {
	max-height: 0;
	max-width: 0;
	overflow: hidden;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

@keyframes shake1 {
	0% {transform: rotateX(0deg);}
	80% {transform: rotateX(0deg);}
	85% {transform: rotateX(1080deg);}
}

@keyframes shake2 {
	0% {transform: rotateX(0deg);}
	90% {transform: rotateX(0deg);}
	95% {transform: rotateX(1080deg);}
}


@include md-phones {
	body {
	    #App {
	        main {
	            #options {
	                margin-top: 30%;
	            }
	        }
	    }
	}
}

@include tablets-portrait {
	body {
	    #App {
	        main {
	            #opening-title h1 {
	                font-size: 4rem;
	            }
	            #options {
	                a div{
	                    font-size: 2rem !important;
	                }
	            }
	            heading {
	            h1 {
	                font-size: 4rem;
	            }
	            p {
	                font-size: 1.6em;
	            }
	        }
	        }
	    }
	}
	#webpages-display, #codepens-display {
        h1 {
            font-size: 4rem;
        }	
        p {
	        font-size: 1.2em;
	    }
    } 
	.technologies {
	    button {
	        font-size: 1.6em;
	    }
	}
	.more-info {
	    font-size: 1.2em;
	}
}

@include sm-phones-landscape {
	body {
	    #App {
	        margin-top: 2%;
	        main {
	            #options {
	                margin-top: 0%;
	                a.row {
	                    margin-top: 5%;
	                    div {
	                        font-size: 1.5rem !important;
	                    }
	                }
	            }
	            heading {
	                h1 {
	                    font-size: 2em
	                }
	                p {
	                    font-size: 0.8em;
	                }
	            }
	        }
	    }
	}
	#webpages-display, #codepens-display {
        h1 {
            font-size: 2rem;
        }
        p {
	        font-size: 0.6em;
	    }	
    } 
}

@include phones-landscape {
	body {
	    #App {
	        margin-top: 2%;
	        main {
	            #options {
	                margin-top: 0%;
	                a.row {
	                    margin-top: 5%;
	                    div {
	                        font-size: 1.5rem !important;
	                    }
	                }
	            }
	        }
	    }
	}
}

@include lg-phones-landscape {
	body {
	    #App {
	        margin-top: 2%;
	        main {
	            #options {
	                margin-top: 0%;
	                a.row {
	                    margin-top: 5%;
	                    div {
	                        font-size: 1.5rem !important;
	                    }
	                }
	            }
	        }
	    }
	}
}

@include md-desk {
	body {
	    #App {
	        margin-top: 2%;
	        main {
	            #options {
	                margin-top: 0%;
	                a.row {
	                    margin-top: 5%;
	                    div {
	                        font-size: 1.5rem !important;
	                    }
	                }
	            }
	        }
	    }
	}
}

@include tablets-landscape {
	body {
	    #App {
	        margin-top: 2%;
	        main {
	            #options {
	                margin-top: 10%;
	                a.row {
	                    margin-top: 5%;
	                    div {
	                        font-size: 2rem !important;
	                    }
	                }
	            }
	        }
	    }
	}
}

@include desk {
	body {
	    padding-top: 10%;
	    #App {
	        margin-top: 2%;
	        main {
	            #options {
	                margin-top: 10%;
	                a.row {
	                    margin-top: 5%;
	                    div {
	                        font-size: 2.5rem !important;
	                    }
	                }
	            }
	        }
	    }
	}
	.displayed {
	    .thumbnail {
	        width: 65%;
	        margin: 5% auto;
	    }
	}
	.more-info {
	    width: 65%;
	}
}