<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Stephen Agwu</title>
	<meta name="viewport" content="width=device-width, height=device-height, user-scalable=yes">
	<meta name="theme-color" content="#000000">
	<link rel="stylesheet" href="/css/{{ page.title }}_style.css">
	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Cantarell:400,400i|Roboto:400|Saira+Semi+Condensed|Concert+One|Saira+Semi+Condensed" rel="stylesheet">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/favicon-16x16.png">
<link rel="manifest" href="{{ site.url }}/manifest.json">
<link rel="mask-icon" href="{{ site.url }}/safari-pinned-tab.svg" color="#737070">
	<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.3.1/js/tether.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/85807/typed.js"></script>
	<script type="text/javascript" src="js/transit.js"></script>
	<script type="text//javascript" src="js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
</head>
  <body>
    {{ content }}
  </body>
  <script type="text/javascript">
    $('body').css('opacity', '0');
  </script>
</html>